@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Mulish:700");
* {
  box-sizing: border-box;
}
body {
  background-color: var(--soapstone);
}
.login {
  align-items: flex-start;
  background-color: var(--soapstone);
  display: flex;
  height: 100%;
  width: 100%;
}
.login .e-mail-address {
  letter-spacing: 0px;
  line-height: 56px;
  min-height: 56px;
  white-space: nowrap;
}
.login .email {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 2px;
  margin-top: 72px;
  min-height: 119px;
  width: 493px;
}
.login .group-36 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 184px;
  margin-top: 150px;
  min-height: 442px;
  width: 496px;
}
.login .image-7 {
  height: 503px;
  margin-top: 159px;
  margin-left: 80px;
  object-fit: cover;
  width: 597px;
}
.login .login {
  letter-spacing: 0px;
  line-height: 56px;
  margin-left: -28px;
  min-height: 56px;
  white-space: nowrap;
}
.login .overlap-group {
  align-items: flex-start;
  background-color: var(--blueberry);
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  height: 63px;
  justify-content: flex-end;
  min-width: 491px;
  padding: 0 206px;
  border: none;
}
.login .password {
  margin-left: 3px;
  margin-top: 16px;
}
.login .rectangle-3 {
  background-color: green;
  border-radius: 15px;
  height: 63px;
  width: 491px;
}
.login .sign-in {
  letter-spacing: 0px;
  line-height: 56px;
  min-height: 56px;
  white-space: nowrap;
}
.login .sign-in-button {
  align-items: flex-start;
  display: flex;
  margin-left: 3px;
  margin-top: 47px;
  min-width: 493px;
}
.mulish-bold-black-23px {
  color: black;
  font-family: "Mulish", Helvetica;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
}
.mulish-bold-black-48px {
  color: black;
  font-family: "Mulish", Helvetica;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
}
.mulish-bold-pot-pourri-23px {
  color: var(--pot-pourri);
  font-family: "Mulish", Helvetica;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
}
.passwordInput {
  background-color: var(--ebb);
  border-radius: 15px;
  height: 63px;
  width: 491px;
  align-items: flex-start;
  vertical-align: text-bottom;
}
:root {
  --blueberry: rgba(82, 113, 255, 1);
  --ebb: rgba(234, 226, 226, 1);
  --pot-pourri: rgba(247, 227, 227, 1);
  --soapstone: rgba(255, 252, 247, 1);
}
